<%- include('header'); -%>

<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero minima blanditiis, labore similique consequatur et nostrum quis quisquam odio id, soluta eligendi dolorem dignissimos? Sapiente eveniet reiciendis deleniti recusandae aut.</p>

<%- include('footer'); -%>
